* {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}
body {
	background: #000;
	background-attachment: fixed; /*edit*/;
    margin: 0;
}
#warning {
   color: #ff0000;
   accent-color: #ff0000;
}
#warning button {
	background: #ff0000;
    color: black;
    border: 2px solid red;
    padding: 5px;
    transition: 0.2s;
}
#warning button:hover {
	background: #000000;
    color: red;
}
.center {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
td {padding: 5px;}
.badge {transform: scale(1); transition: 0.5s; image-rendering: pixelated;}
.badge:hover {transform: scale(1.1); transition: 0.2s;}
#desktop {
	background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 35%, rgba(255,255,255,1) 100%); 
	background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}
#window {
  position: absolute;
  background-color: #d0d0d0;
  border: 4px solid #2e397a;
  text-align: center;
  z-index: 1;
}

#titlebar {
  padding: 10px;
  cursor: default;
  background-color: #2e397a;
  color: #fff;
  font-size: 20px;
  text-align: left;
}
#windowtwo {
  position: absolute;
  background-color: #d0d0d0;
  border: 4px solid #2e397a;
  text-align: center;
  z-index: 1;
}
#windowthree {
  position: absolute;
  background-color: #d0d0d0;
  border: 4px solid #2e397a;
  text-align: center;
  z-index: 1;
  bottom: 10%;
  right: 0;
}

#titlebartwo {
  padding: 10px;
  cursor: default;
  background-color: #2e397a;
  color: #fff;
  font-size: 20px;
  text-align: left;
}
#titlebarthree {
  padding: 10px;
  cursor: default;
  background-color: #2e397a;
  color: #fff;
  font-size: 20px;
  text-align: left;
}
#taskbar {
	background-color: #ae0000;
    height: 5vh;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 10px;
}
#taskbar button {
	background-color: #e10000;
    color: #000;
    padding: 10px;
    border: none;
    font-size: 20px;
}
#taskbar button:hover {
	background-color: #c100000;
}
#titlebarthree button {
	background-color: #ff0000;
    color: white;
	border: none;
    font-size: 20px;
}
#titlebarthree button:hover {
	background-color: #dd0000;
}
#titlebarthree button:active {
	background-color: #bb0000;
}
#windowtwo input {
	padding: 5px; 
    font-size: 15px;
    width: 35vw;
}
.open {
	animation-name: open;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
    animation-fill-mode: both;
	animation-delay: 1s;
}
.opendelayno {
	animation-name: open;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}
.close {
	animation-name: close;
    animation-timing-function: ease-out;
    animation-duration: 0.2s;
    animation-fill-mode: both;
}
#notporn {
	position: fixed;
    bottom: 20%;
    right: 5%;
    z-index: 0;
}
@keyframes open {
  0% {opacity: 0%; transform: scale(0.9); display: none;}
  1% {opacity: 0%; transform: scale(0.9); display: block;}
  100% {opacity: 100%; transform: scale(1); display: block;}
}
@keyframes close {
  0% {opacity: 100%; transform: scale(1); display: block;}
  99% {opacity: 0%; transform: scale(0.9); display: block;}
  100% {opacity: 0%; transform: scale(0.9); display: none;}
}
